* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* SEZIONE MOBILE */

@media screen and (max-width: 480px) and (min-width: 370px) {
    /* INIZIO NAV */

    nav {
        background-color: rgb(0, 132, 253);

        display: flex;
        justify-content: space-between;

        padding-left: 30px;
        padding-right: 30px;
    }

    nav div {
        color: white;

        font-size: 22px;

        
        margin-top: 22px;
        margin-bottom: 22px;
    }

    /* FINE NAV */

    /* INIZIO SEZIONE 1 */

    .section-uno {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-left: 30px;
        padding-right: 30px;
    }

    .section-uno .demo:first-of-type {
        margin-top: 50px;
    }

    .demo {
        background-color: #b5ddff;

        margin-top: 24px;

        border-radius: 15px;

        /* test */
        width: 50%;
        height: 200px;
    }

    .section-uno .demo:last-of-type {
        margin-bottom: 76px;
    }

    /* FINE SEZIONE UNO */

    /* INIZIO SEZIONE PLANNING */

    .planning {
        background-color: #9792e4;

        padding-left: 30px;
        padding-right: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planning img {
        width: 100%;
        height: auto;

        margin-top: 66px;
        margin-bottom: 90px;
    }

    .planning h2 , .planning p {
        color: white;
    }
    
    .planning p {
        margin-top: 65px;
        margin-bottom: 40px;
    }

    .white {
        margin-bottom: 64px;
        /* test */
        height: 100px;
        width: 50%;
        background-color: white;

        border-radius: 25px;
    }

    /* FINE SEZIONE PLANNING */

    /* INIZIO SEZIONE TESTIMONIALS */

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials h6 {
        margin-top: 66px;
        margin-bottom: 42px;
    }

    .testimonials h2 {
        margin-bottom: 52px;
    }

    .person {
        background-color: #9792e4;

        border-radius: 25px;

        margin-top: 30px;
        /* test */
        width: 50%;
        height: 300px;
    }

    .person:first-of-type {
        margin-top: 56px;
    }

    .person:last-of-type {
        margin-bottom: 110px;
    }

    /* FINE SEZIONE TESTIMONIALS */

    /* INIZIO SEZIONE BENEFITS */

    .benefits {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #9792e4;
    }

    .benefits h2 {
        font-size: 25px;
        color: white;

        margin-top: 80px;
        margin-bottom: 70px;
    }

    .pros {
        /* test */
        width: 50%;
        height: 300px;
        background-color: white;

        margin-top: 30px;
        border-radius: 15px;
    }

    .pros:last-of-type {
        margin-bottom: 60px;
    }

    /* FINE SEZIONE BENEFITS */

    /* INIZIO SEZIONE ABOUT US */

    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-left: 30px;
        padding-right: 30px;
    }

    .about-us h1 {
        margin-top: 90px;
        margin-bottom: 54px;

        color: #9792e4;
    }

    .about-us p:last-of-type {
        margin-top: 66px;
        margin-bottom: 60px;
    }

    .about-us img {
        width: 50%;
        height: auto;
        border-radius: 50%;
    }

    .about-us h2 {
        margin-top: 34px;
        margin-bottom: 30px;
        color: #9792e4;
    }

    .about-us button {
        color: white;
        border-color: #9792e4;
        margin-bottom: 76px;
    }
}

